@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{

}
else
{
	<div class="row">
		Hi, <a href="/login" class="btn btn-default btn-login"><span class="fa fa-github"></span> Connect</a> to GitHub to continue.
	</div>
}