@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home";
}

<div class="row">
    Hi, you need to connect to GitHub to continue.
    <a href="/login" class="btn btn-default btn-login"><span class="fa fa-github"></span> Connect</a>
</div>